@import "../variables.scss";

.productsToCat{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
    padding: 1% 18%;
    background-color: $lightbg;
    &__pagesPagination{
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 9;
        column-gap: 10px;
        &-item{
            font-size: 15px;
            font-weight: 600;
            background-color: $lightbg;
            color: #576067;
            width: 40px;
            height: 40px;
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 8px;
            transition: .4s;
        }
        &-itemActive{
            background-color: $main;
            color: $color;
        }
    }
}

.trending__items{
    grid-column-start: 1 !important;
    grid-column-end: 9 !important;
    row-gap: 20px;
}